@font-face {
    font-family: shscb;
    src: url('../font/SourceHanSansCN-Bold.otf'),
    url("../font/SourceHanSansCN-Bold.ttf");
}

@font-face {
    font-family: shscr;
    src: url("../font/SourceHanSansCN-Regular.otf"),
    url("../font/SourceHanSansCN-Regular.ttf");
}

@font-face {
    font-family: gb;
    src: url("../font/Gotham-Book.otf"),
    url("../font/Gotham-Book.ttf");
}

@font-face {
    font-family: ld;
    src: url("../font/LcdD.ttf");
}

@font-face {
    font-family: shscn;
    src: url("../font/SourceHanSansCN-Normal.ttf");
}

html {
    width: 1920px;
    height: 1080px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    position: relative;
}

.clear {
    clear: both;
}

.video_player {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -9999;
    /*加滤镜*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%);*/
}

.video_player source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

#container canvas {
    /*width: 1385px;*/
    /*height: 1020px;*/
    /*margin-left: 319px;*/
    /*margin-top: 26px;*/
}

#container .leaflet-map-pane, #container .leaflet-control-container {
    display: none;
}

.font-left {
    position: absolute;
    font-size: 45px;
    color: #15fffa;
    top: 83px;
    left: 75px;
    font-family: shscb;
}

.roll {
    width: 402px;
    height: 322px;
    background: url("../images/roll.png");
    background-size: contain;
    position: absolute;
    left: 75px;
    bottom: 73px;
    color: #ffffff;
}

.roll .roll-title {
    width: 368px;
    height: 30px;
    margin: 0 auto;
    background: #2e5776;
    font-family: gb, shscr;

    margin-top: 40px;
}

.roll .roll-title ul li {
    float: left;
    width: 89px;
    text-align: center;
    /*line-height: 28px;*/
    font-size: 14px;
    height: 18px;
    margin-top: 7px;

}

.roll .roll-title ul li:nth-child(-n+3) {
    border-right: 1px solid #062d4a;
}

.roll .roll-content {
    width: 368px;
    height: 199px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
    font-family: gb, shscr;
}

.roll .roll-content ul li {
    width: 368px;
    border-bottom: 1px dashed #26303d;
    height: 32px;
    font-size: 13px;
    overflow: hidden;
}

.roll .roll-content ul li div {
    width: 368px;
    height: 33px;

}

.roll .roll-content ul li div span {
    width: 89px;
    display: block;
    float: left;
    text-align: center;
    line-height: 31px;
}
.roll .roll-content .roll_list li div span:first-child{
    text-align: left;
    padding-left: 10px;
    width: 80px;
    overflow: hidden;
}
.roll .roll-content .roll_list li div span:nth-child(2){
    text-align: left;
    padding-left: 20px;
    width: 70px;
    overflow: hidden;
}
.roll .roll-content .roll_list li div span:nth-child(3), .roll .roll-content .roll_list li div span:nth-child(4){
    text-align: right;
    padding-right: 15px;
    width: 75px;
    overflow: hidden;
}
.video {
    width: 482px;
    height: 268px;
    position: absolute;
    right: 0;
    bottom: 0;
    /*background: url("../images/video.png");*/
    /*background-size: contain;*/
}

.video img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.video .video_little {
    position: absolute;
    height: 268px;
    width: 482px;
    z-index: 0;
    /*加滤镜*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%);*/
}

.video .video_little source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.num {
    width: 508px;
    height: 138px;
    position: absolute;
    top: 83px;
    left: 758px;
    color: #15fffa;
    font-family: ld, shscr;
}

.num .num_title {
    font-size: 30px;
}

.num .num_num {
    float: left;
    text-align: right;
    width: 476px;
}

/*.num .num_num span {*/
    /*margin-top: 21px;*/
    /*background: url("../images/num.png");*/
    /*background-size: contain;*/
    /*width: 55px;*/
    /*height: 80px;*/
    /*display: inline-block;*/
    /*!*float: left;*!*/
    /*margin-right: 13px;*/
    /*font-size: 84px;*/
    /*line-height: 81px;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*text-indent: -10px;*/
/*}*/

.num .num_font {
    float: right;
    font-size: 30px;
    margin-top: 65px;
}

.pro {
    width: 402px;
    height: 460px;
    position: absolute;
    left: 60px;
    bottom: 41px;
    background: url("../images/pro.png");
    background-size: contain;
    font-family: gb, shscr;
    color: #ffffff;
}

.pro .pro_title {
    width: 368px;
    height: 30px;
    background: #2e5776;
    margin: 0 auto;
    margin-top: 40px;
}

.pro .pro_title li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.pro .pro_title .li_center {
    width: 160px;
    border-left: 1px solid #062d4a;
    border-right: 1px solid #062d4a;
}

.pro .pro_list {
    width: 368px;
    margin: 0 auto;
    margin-top: 20px;
    height: 346px;
    overflow: hidden;
}

.pro .pro_list ul {
    width: 368px;
    height: 33px;
    border-bottom: 1px dashed #26303d;
    line-height: 22px;
}

.pro .pro_list li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    height: 20px;
    overflow: hidden;
}

.pro .pro_list li span {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.pro .pro_list ul:first-child li:first-child span {
    background: #ff5722;
}

.pro .pro_list ul:nth-child(2) li:first-child span {
    background: #ff9800;
}

.pro .pro_list ul:nth-child(3) li:first-child span {
    background: #ffc107;
}

.pro .pro_list ul li:nth-child(3) {
    text-align: right;
    padding-right: 30px;
    width: 95px;
}

.pro .pro_list .li_center {
    width: 150px;
    text-align: left;
    padding-left: 10px;
}

.hot {
    width: 402px;
    height: 460px;
    position: absolute;
    right: 60px;
    bottom: 45px;
    background: url("../images/hot.png");
    background-size: contain;
    font-family: gb, shscr;
    color: #ffffff;
}

.hot .hot_title {
    width: 368px;
    height: 30px;
    background: #2e5776;
    margin: 0 auto;
    margin-top: 40px;
}

.hot .hot_title li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.hot .hot_title .li_center {
    width: 160px;
    border-left: 1px solid #062d4a;
    border-right: 1px solid #062d4a;
}

.hot .hot_list {
    width: 368px;
    margin: 0 auto;
    margin-top: 20px;
    height: 346px;
    overflow: hidden;
}

.hot .hot_list ul {
    width: 368px;
    height: 33px;
    border-bottom: 1px dashed #26303d;
    line-height: 22px;
}

.hot .hot_list li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    height: 20px;
    overflow: hidden;
}

.hot .hot_list li span {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.hot .hot_list ul:first-child li:first-child span {
    background: #ff5722;
}

.hot .hot_list ul:nth-child(2) li:first-child span {
    background: #ff9800;
}

.hot .hot_list ul:nth-child(3) li:first-child span {
    background: #ffc107;
}

.hot .hot_list ul li:nth-child(3) {
    text-align: right;
    padding-right: 30px;
    width: 95px;
}

.hot .hot_list .li_center {
    width: 120px;
    text-align: left;
    padding-left: 30px;
}

.food {
    width: 368px;
    height: 143px;
    color: #15fffa;
    font-family: ld, shscr;
    position: absolute;
    top: 76px;
    left: 60px;
}

.food .food_title {
    font-size: 30px;
}

/*.food .food_num span {*/
    /*margin-top: 21px;*/
    /*background: url("../images/num.png");*/
    /*background-size: contain;*/
    /*width: 54px;*/
    /*height: 80px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-right: 13px;*/
    /*font-size: 84px;*/
    /*line-height: 81px;*/
    /*color: #ffffff;*/
/*}*/

.food .food_num .food_font {
    float: left;
    font-size: 30px;
    margin-top: 65px;
}

.food {
    width: 370px;
    height: 143px;
    color: #15fffa;
    font-family: ld, shscr;
    position: absolute;
    top: 76px;
    left: 60px;
}

.food .food_title {
    font-size: 30px;
}

.food .food_num{
    width: 340px;
    float: left;
}
/*.food .food_num span {*/
    /*margin-top: 21px;*/
    /*background: url("../images/num.png");*/
    /*background-size: contain;*/
    /*width: 54px;*/
    /*height: 79px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-right: 13px;*/
    /*font-size: 84px;*/
    /*line-height: 81px;*/
    /*color: #ffffff;*/
/*}*/

.food .food_font {
    float: left;
    font-size: 30px;
    margin-top: 65px;
}

.money {
    width: 510px;
    height: 145px;
    color: #15fffa;
    font-family: ld, shscr;
    position: absolute;
    top: 300px;
    left: 60px;
}

.money .money_title {
    font-size: 30px;
}
.money .money_num{
    width: 476px;
    float: left;
}
/*.money .money_num span {*/
    /*margin-top: 21px;*/
    /*background: url("../images/num.png");*/
    /*background-size: contain;*/
    /*width: 54px;*/
    /*height: 79px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-right: 13px;*/
    /*font-size: 84px;*/
    /*line-height: 81px;*/
    /*color: #ffffff;*/
/*}*/

.money .money_font {
    float: left;
    font-size: 30px;
    margin-top: 65px;
}

.form {
    position: absolute;
    color: #15fffa;
    top: 585px;
    left: 60px;
}

.form .form_title {
    width: 758px;
    height: 31px;
}

.form .form_title .form_title_big {
    font-family: shscr;
    font-size: 30px;
    float: left;
    margin-right: 67px;
}

.form .form_title .form_title_little {
    font-family: shscr;
    font-size: 19px;
    float: left;
    line-height: 53px;
    margin-left: 35px;
}

.form .form_title .form_title_little img {
    width: 35px;
    height: 16px;
    margin-right: 3px;
}

.form .form_form {
    width: 811px;
    height: 394px;
    background: url("../images/form.png") 80px 44px no-repeat;
    background-size: contain;
    font-family: shscn;
}

.day {
    width: 402px;
    height: 460px;
    position: absolute;
    top: 63px;
    right: 524px;
    background: url("../images/day.png");
    background-size: contain;
    font-family: gb, shscr;
    color: #ffffff;
}

.day .day_title {
    width: 368px;
    height: 30px;
    background: #2e5776;
    margin: 0 auto;
    margin-top: 40px;
}

.day .day_title li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.day .day_title .li_center {
    width: 160px;
    border-left: 1px solid #062d4a;
    border-right: 1px solid #062d4a;
}

.day .day_list {
    width: 368px;
    margin: 0 auto;
    margin-top: 20px;
    height: 346px;
    overflow: hidden;
}

.day .day_list ul {
    width: 368px;
    height: 33px;
    border-bottom: 1px dashed #26303d;
    line-height: 22px;
}

.day .day_list li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    height: 22px;
    overflow: hidden;
}

.day .day_list li span {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.day .day_list .li_center {
    width: 140px;
    text-align: left;
    padding-left: 20px;
}
.day .day_list ul:first-child li:first-child span {
    background: #ff5722;
}

.day .day_list ul:nth-child(2) li:first-child span {
    background: #ff9800;
}

.day .day_list ul:nth-child(3) li:first-child span {
    background: #ffc107;
}
.day .day_list ul li:nth-child(3) {
    text-align: right;
    padding-right: 30px;
    width: 95px;
}

.hots {
    width: 402px;
    height: 460px;
    position: absolute;
    top: 570px;
    right: 524px;
    background: url("../images/hots.png");
    background-size: contain;
    font-family: gb, shscr;
    color: #ffffff;
}

.hots .hots_title {
    width: 368px;
    height: 30px;
    background: #2e5776;
    margin: 0 auto;
    margin-top: 40px;
}

.hots .hots_title li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.hots .hots_title .li_center {
    width: 160px;
    border-left: 1px solid #062d4a;
    border-right: 1px solid #062d4a;
}

.hots .hots_list {
    width: 368px;
    margin: 0 auto;
    margin-top: 20px;
    height: 346px;
    overflow: hidden;
}

.hots .hots_list ul {
    width: 368px;
    height: 33px;
    border-bottom: 1px dashed #26303d;
    line-height: 22px;
}

.hots .hots_list li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    height: 22px;
    overflow: hidden;
}

.hots .hots_list li span {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.hots .hots_list .li_center {
    width: 140px;
    text-align: left;
    padding-left: 20px;
}
.hots .hots_list ul:first-child li:first-child span {
    background: #ff5722;
}

.hots .hots_list ul:nth-child(2) li:first-child span {
    background: #ff9800;
}

.hots .hots_list ul:nth-child(3) li:first-child span {
    background: #ffc107;
}
.hots .hots_list ul li:nth-child(3) {
    text-align: right;
    padding-right: 30px;
    width: 95px;
}

.videos {
    width: 482px;
    height: 1080px;
    position: absolute;
    right: 0;
    top: 0;
    /*background: url("../images/video.png");*/
    /*background-size: contain;*/
}

.videos .videos_list {
    width: 100%;
    height: 268px;

}

.videos .videos_list img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.videos .videos_list .videos_little {
    position: absolute;
    height: 268px;
    width: 482px;
    z-index: 0;
    /*加滤镜*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%);*/
}

.videos .videos_list .videos_little source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.chart {
    width: 173px;
    height: 173px;
    background: url("../images/watter.png");
    background-size: contain;
    font-family: gb;
    position: absolute;
    top: 221px;
    left: 670px;
}

.bool_font {
    font-family: shscr;
    font-size: 30px;
    color: #15fffa;
    position: absolute;
    top: 400px;
    left: 670px;
}

/* 滚动 */
.inrow {
    font-size: 0;
[;
    font-size: 12px;
];
    *font-size: 0;
    font-family: arial;
[;
    letter-spacing: -3px;
];
    *letter-spacing: normal;
    *word-spacing: -1px;
}

.inrow > li, .inrow span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    letter-spacing: normal;
    word-spacing: normal;
}

.dataNums {
    margin-top: 22px;
}

.dataNums .dataOne {
    text-align: center;
    background: url("../images/num.png");
    background-size: contain;
    width: 55px;
    height: 80px;
    margin-right: 13px;
    font-size: 50px;
    color: #ffffff;
    text-indent: -10px;
}

.dataNums .dataBoc {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dataNums .dataBoc .tt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dataNums .tt span {
    width: 100%;
    height: 100%;
    font: 84px/80px "ld";
    color: #ddf0ff;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 84px;
}
/* svg图标样式位置 */
.jinan{
    position: absolute;
    top: 483px;
    right: 593px;
}
.chongqing{
    position: absolute;
    top: 686px;
    right: 828px;
}
.guangzhou{
    position: absolute;
    top: 873px;
    right: 676px;
}
.nanjing{
    position: absolute;
    top: 615px;
    right: 554px;
}